---
services:
  hytale:
    image: indifferentbroccoli/hytale-server-docker
    restart: unless-stopped
    container_name: hytale
    stop_grace_period: 30s
    ports:
      - 5520:5520/udp
    env_file:
      - .env.example
    volumes:
      - ./server-files:/home/hytale/server-files
    stdin_open: true
    tty: true
